<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>723878618563-05ct7c026b30bu9b162dbkho4eqfop3l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.723878618563-05ct7c026b30bu9b162dbkho4eqfop3l</string>
	<key>API_KEY</key>
	<string>AIzaSyB7y9wlJ2xieTKDFnSn8j9hfkMu7a70okc</string>
	<key>GCM_SENDER_ID</key>
	<string>723878618563</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ibtikar.Fashion-hup</string>
	<key>PROJECT_ID</key>
	<string>fashion-hup</string>
	<key>STORAGE_BUCKET</key>
	<string>fashion-hup.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:723878618563:ios:179bc1a013731c031a8976</string>
</dict>
</plist>